/* Write your CSS here */
.language-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.filter-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #0f172a;
  padding: 4px 16px;
  border-radius: 24px;
  font-family: 'Roboto';
  font-weight: 600;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.filter-button-active {
  border-color: #0284c7;
  color: #0284c7;
}
